@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.weather-box{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  /* background: linear-gradient(148deg, rgb(164, 210, 173), rgb(230, 230, 152)); */
}

.container h2{
  text-align:center;
  font-weight:500;
  text-decoration:underline;
}


.input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  margin: 30px 0;
}

.input button {
  background-color: rgb(31, 130, 251);
  color: white;
  border: none;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
}

.input input {
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0 0 3px black;
}

.weather-box {
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  position: relative;
  justify-content: center;
  margin: 0 40%;
  align-items: center;
  /* border: 1px solid #000; */
}

.icon {
  height: 30px;
  width: 30px;
  margin: 10px;
  text-align: center;
}

.weather {
  font-size: 22px;
  font-weight: 500;
  text-shadow: 0 0 2px #000;
  margin: 10px;
  text-align: center;
}

.temprature {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.description {
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  .weather-box {
    margin: 0 10%;
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
